# Python workshop

![](https://logos-download.com/wp-content/uploads/2016/10/Python_logo_wordmark.png)

# Part 1

# Arithmetic operators

- `+` : Addition
- `-` : Subtraction
- `*` : Multiplication
- `**`: Exponential
- `/` : division
- `//` : floor division
- `%` : mod

**Try in the code cells bellow:**

In [60]:
print(10 + 10)

20

In [62]:
print(2 - 10)

-8

In [64]:
print( 10 * 20)

200

In [72]:
print(10 / 3)

3.3333333333333335

In [70]:
print(10 // 3)

3

In [74]:
print( 20 ** 2)

400

In [76]:
print(15 % 2)

1

# **Big Oooopps** when using python for computation

In [81]:
print(0.1 + 0.1 + 0.1)

0.30000000000000004

In [ ]:
print( (0.1 + 0.1 + 0.1) == 0.3)

# Quiz

In this quiz you're going to do some calculations for a tiler. Two parts of a floor need tiling. One part is **16 tiles wide by 4** tiles long, the other is **5 tiles wide by 7** tiles long. Tiles come in packages of 6.

* **1. How many tiles are needed?**
* **2. You buy 17 packages of tiles containing 6 tiles each. How many tiles will be left over?**

In [93]:
# Fill this in with an expression that calculates how many tiles are needed.
print()

# Fill this in with an expression that calculates how many tiles will be left over.
print()

# Part 2

## Variables

```

x = 3
y = 4
z = 5

University_name = 'Open University'
favorite_team = 'Manchester United'


total_plates = 1000
plates_per_person = 3

max_number_invited = (total_plates / plates_per_person)
```

## ✅ Does and ❌ Don'ts of variable names  

`2_houses` ❌ don't start with numbers

`car number` ❌ don't leave spaces in between

`Latitude_Longitude` ❌ don't start with Upper case 

# Variables and arithmetic operators

coffee_volume = 4.445

coffee_volume = coffee_volume + 4.445 

coffee_volume += 4.445

coffee_volume = coffee_volume -  4.445 

coffee_volume -= 4.445

coffee_volume = coffee_volume * 4.445 

coffee_volume *= 4.445

# Quiz

**Solve Brain Buster**

In [ ]:
# The current volume of a water reservoir (in cubic metres)
reservoir_volume = 4.445e8

# The amount of rainfall from a storm (in cubic metres)
rainfall = 5e6

# decrease the rainfall variable by 10% to account for runoff
rainfall = 0.9

# add the rainfall variable to the reservoir_volume variable
reservoir_volume =

# increase reservoir_volume by 5% to account for stormwater that flows
# into the reservoir in the days following the storm
reservoir_volume = 

# decrease reservoir_volume by 5% to account for evaporation
reservoir_volume = 

# subtract 2.5e5 cubic metres from reservoir_volume to account for water
# that's piped to arid regions.
reservoir_volume = 

# print the new value of the reservoir_volume variable
print(reservoir_volume)

# Part 2

![](https://github.com/dell-datascience/python_workshop/blob/7c16752d00f08e5d9d1a6898f84158d52db442a2/images/data_types.png?raw=true)


The common data types in python are:

- **Integers**

number_guests = 13

- **Floats**

weight = 45.8

- **Boolean**

5 < 3

3 <= 3

3 == 3

3 != 4



- **Strings**

car_brand = 'Mercedes'

- **Lists**

car_brands = ['Land Rover' ,'BMW', 'Mercedes', 'Jeep', 'VW']

In [118]:
x = int(4.7)   # x is now an integer 4

y = float(4)   # y is now a float of 4.0


print(type(x))

print(type(y))

<class 'int'>
<class 'float'>

# Quiz

In [ ]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682 , 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise
print()

In [ ]:
this_string = 'Simon\'s skateboard is in the garage.'
print(this_string)

# quiz : fix the string

In [ ]:
ford_quote = "Whether you think you can, or you think you can't--you're right."

print(ford_quote)

# String methods


Methods are functionalities of a data type

In [145]:
name = 'Claire'

dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [163]:
print(name.upper.__doc__)

Return a copy of the string converted to uppercase.

In [167]:
print(name.capitalize.__doc__)

Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower
case.

In [177]:
sentence = 'The weather really feels chilly today'

words = sentence.split(' ')
print(words)

['The', 'weather', 'really', 'feels', 'chilly', 'today']

# List

In [180]:

months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'] 

print(months[0])

January

In [183]:
q3 = months[6:9]
print(q3)

['July', 'August', 'September']

In [185]:
first_half = months[:6]
print(first_half)

['January', 'February', 'March', 'April', 'May', 'June']

# Are you **in** or **out**

In [192]:
'these' in 'this is a string'

False

In [190]:
'in' in 'this is a string'

True

In [194]:
5 not in [1, 2, 3, 4, 6]

True

# Mutability

Mutability is about whether or not we can change an object once it has been created.

In [197]:
my_lst = [1, 2, 3, 4, 5]

my_lst[0] = 'one'

print(my_lst)

['one', 2, 3, 4, 5]

In [199]:
greeting = "Hello there"
greeting[0] = 'M'

TypeError: 'str' object does not support item assignment

In [201]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']
                 
                 
# TODO: Modify this line so it prints the last three elements of the list
print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

# List methods

`len()`

`max()`

`min()`

`sorted()`

`append`

In [213]:
print([len(a), len(b), len(c)])

[3, 4, 2]

In [211]:
a = [1, 5, 8]
b = [2, 6, 9, 10]
c = [100, 200]

print(max([len(a), len(b), len(c)]))

4

In [215]:
print(min([len(a), len(b), len(c)]))

2

In [204]:
new_str = "\n".join(["fore", "aft", "starboard", "port"])
print(new_str)

fore
aft
starboard
port

In [209]:
letters = ['a', 'b', 'c', 'd']
letters.append('z')
print(letters)

['a', 'b', 'c', 'd', 'z']

In [217]:
names = ["Carol", "Albert", "Ben", "Donna"]
sorted(names)

['Albert', 'Ben', 'Carol', 'Donna']

In [219]:
print(" & ".join(sorted(names)))

Albert & Ben & Carol & Donna

In [221]:
names = ["Carol", "Albert", "Ben", "Donna"]
names.append("Eugenia")
print(sorted(names))

['Albert', 'Ben', 'Carol', 'Donna', 'Eugenia']

# Tuple

It's a data type for immutable ordered sequences of elements. They are comma separated values

location = (13.4125, 103.866667)

dimensions = 52, 40, 100

In [ ]:
location = (13.4125, 103.866667)

print("Latitude:", location[0])
print("Longitude:", location[1])

# Set

A set is a data type for mutable unordered collections of unique elements. One application of a set is to quickly remove duplicates from a list.

In [224]:
numbers = [1, 2, 6, 3, 1, 1, 6]
unique_nums = set(numbers)
print(unique_nums)

{1, 2, 3, 6}

In [226]:
fruit = {"apple", "banana", "orange", "grapefruit"}  # define a set

print("watermelon" in fruit)  # check for element

fruit.add("watermelon")  # add an element
print(fruit)

print(fruit.pop())  # remove a random element
print(fruit)

False
{'banana', 'grapefruit', 'orange', 'watermelon', 'apple'}
banana
{'grapefruit', 'orange', 'watermelon', 'apple'}

In [7]:
# find values in study_data but not in categories

study_data_blood_type = ['O-','O+','A+','A-','B+','B-','Z+']
blood_categories = ['O-','O+','A+','A-','B+','B-']

inconsistent_categories = set(study_data_blood_type).difference(blood_categories)
print(inconsistent_categories)

{'Z+'}

# Dictionary

Dictionaries:

A dictionary is a mutable data type that stores mappings of unique keys to values.

In [15]:
elements = {"hydrogen": 1, "helium": 2, "carbon": 6}

In [17]:
print(elements["helium"])  # print the value mapped to "helium"

2

In [19]:
elements["lithium"] = 3 # they are mutable

In [27]:
elements # lithuim now has a value "3" instead of "2"

{'hydrogen': 1, 'helium': 2, 'carbon': 6, 'lithium': 3}

In [21]:
print("carbon" in elements)

True

In [239]:
print(elements.get("dilithium"))

None

# Exercise

```
Define a Dictionary, population,that provides information on the world's largest cities.
The key is the name of a city (a string), and the associated value is its population in
millions of people.
 ___________________
|   Key     | Value |
|___________|_______|
| Shanghai  |   17.8|
| Istanbul  |   13.3|
| Karachi   |   13.0|
| Mumbai    |   12.5|
____________________

```

In [ ]:
population =

In [75]:
# Why dictionaries


VINIX =  {'C': 0.74, 'MA': 0.78, 'BA': 0.79, 'PG': 0.85, 'CSCO': 0.88, 'VZ': 0.9,
          'PFE': 0.92, 'HD': 0.97, 'INTC': 1.0, 'T': 1.01, 'V': 1.02, 'UNH': 1.02, 
          'WFC': 1.05, 'CVX': 1.05, 'BAC': 1.15, 'JNJ': 1.41, 'GOOGL': 1.46, 'GOOG': 1.47,
          'BRK.B': 1.5, 'XOM': 1.52, 'JPM': 1.53, 'FB': 2.02, 'AMZN': 2.96, 'MSFT': 3.28, 'AAPL': 3.94
          }


'kay' in VINIX

False

In [ ]:
VINX

# Compound dictionaries

In [46]:
elements = {"hydrogen": {"number": 1,
                         "weight": 1.00794,
                         "symbol": "H"},
              "helium": {"number": 2,
                         "weight": 4.002602,
                         "symbol": "He"}
           }

Access elements in the dictionary by keys

In [49]:
helium = elements["helium"]  # get the helium dictionary
hydrogen_weight = elements["hydrogen"]["weight"]  # get hydrogen's weight

In [57]:
oxygen = {"number":8,"weight":15.999,"symbol":"O"}
# create a new oxygen dictionary

elements["oxygen"] = oxygen
# assign 'oxygen' as a key to the elements dictionary

print(elements['oxygen'])

{'number': 8, 'weight': 15.999, 'symbol': 'O'}

#  Control flows


Control flow is the sequence in which your code is run

- Conditional Statements
    - Boolean Expressions
- For and While Loops
- Break and Continue
- Zip and Enumerate
- List Comprehensions

# If Statement
An if statement is a conditional statement that runs or skips code based on whether a condition is true or false. Here's a simple example.

```python
if phone_balance < 5:
    phone_balance += 10
    bank_balance -= 10

```

# If, Elif, Else
In addition to the if clause, there are two other optional clauses often used with an if statement. For example:

```python
season = ?

if season == 'spring':
    print('plant the garden!')
elif season == 'summer':
    print('water the garden!')
elif season == 'fall':
    print('harvest the garden!')
elif season == 'winter':
    print('stay indoors!')
else:
    print('unrecognized season')
```

In [ ]:
#First Example - try changing the value of phone_balance
phone_balance = 10
bank_balance = 50

if phone_balance < 10:
    phone_balance += 10
    bank_balance -= 10

print(phone_balance)
print(bank_balance)

In [264]:
#Second Example - try changing the value of number

number = 145
if number % 2 == 0:
    print("Number " + str(number) + " is even.")
else:
    print("Number " + str(number) + " is odd.")

Number 145 is odd.

In [266]:
#Third Example - try to change the value of age
age = 35

# Here are the age limits for bus fares
free_up_to_age = 4
child_up_to_age = 18
senior_from_age = 65

# These lines determine the bus fare prices
concession_ticket = 1.25
adult_ticket = 2.50

# Here is the logic for bus fare prices
if age <= free_up_to_age:
    ticket_price = 0
elif age <= child_up_to_age:
    ticket_price = concession_ticket
elif age >= senior_from_age:
    ticket_price = concession_ticket
else:
    ticket_price = adult_ticket

# Boolean

```python
if 18.5 <= weight / height**2 < 25:
    print("BMI is considered 'normal'")

if is_raining and is_sunny:
    print("Is there a rainbow?")

if (not unsubscribed) and (location == "USA" or location == "CAN"):
    print("send email")
```

# for loops

## for loops are ideal when the number of iterations is known or finite.

## iterating through lists with for loop

In [271]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
for city in cities:
    print(city)
print("Done!")

new york city
mountain view
chicago
los angeles
Done!

## iterating through range

In [269]:
for i in range(3):
    print("Hello!")

Hello!
Hello!
Hello!

In [279]:
## Creating a new list

cities = ['new york city', 'mountain view', 'chicago', 'los angeles']
capitalized_cities = []

for city in cities:
    capitalized_cities.append(city.title())

print(capitalized_cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

In [80]:
cities = ['new york city', 'mountain view', 'chicago', 'los angeles']

for index in range(len(cities)):
    cities[index] = cities[index].title()
    
print(cities)

['New York City', 'Mountain View', 'Chicago', 'Los Angeles']

## Iterating Through Dictionaries with For Loops

In [87]:
cast = {
           "Jerry Seinfeld": "Jerry Seinfeld",
           "Julia Louis-Dreyfus": "Elaine Benes",
           "Jason Alexander": "George Costanza",
           "Michael Richards": "Cosmo Kramer"
       }

for key in cast:
    print(key)

Jerry Seinfeld
Julia Louis-Dreyfus
Jason Alexander
Michael Richards

In [89]:
print("\nIterating through keys and values:")
for key, value in cast.items():
    print("Actor: {}    Role: {}".format(key, value))

Iterating through keys and values:
Actor: Jerry Seinfeld    Role: Jerry Seinfeld
Actor: Julia Louis-Dreyfus    Role: Elaine Benes
Actor: Jason Alexander    Role: George Costanza
Actor: Michael Richards    Role: Cosmo Kramer

## When to use a for loop?

### for loops are ideal when the number of iterations is known or finite.

- When you have an iterable collection (list, string, set, tuple, dictionary)
    - **`for name in names:`**

- When you want to iterate through a loop for a definite number of times, using range()
    - **`for i in range(5):`**

## While loop


## When to use a while loop?

### While loops are ideal when the iterations need to continue until a condition is met

Examples:

- When you want to use comparison operators
    - **`while count <= 100:`**

- When you want to loop based on receiving specific user input.

    - **`while user_input == 'y'`**:

In [92]:
card_deck = [4, 11, 8, 5, 13, 2, 8, 10]
hand = []

## adds the last element of the card_deck list to the hand list
## until the values in hand add up to 17 or more
while sum(hand) < 17:
    hand.append(card_deck.pop())
    
print(hand)

[10, 8]

In [96]:
limit = 40

num = 0
while (num+1)**2 < limit:
    num += 1
nearest_square = num**2

print(f'nearest square is {nearest_square} and number is {num}')

nearest square is 36 and number is 6

## Practice factorial with while loop

Find the factorial of a number using a while loop.

A factorial of a whole number is that number multiplied by every whole number between itself and 1. For example, 6 factorial (written `"6!"`) equals `6 x 5 x 4 x 3 x 2 x 1 = 720`. So 6! = 720.

We can write a while loop to take any given number and figure out what its factorial is.

Example: If number is 6, your code should compute and print the product, 720.

In [ ]:
# number to find the factorial of
number =6

# start with our product equal to one
product = 1

# track the current number being multiplied
current = 1
# write your while loop here
while current<=number:
    
    # multiply the product so far by the current number
    product*=current
    
    # increment current with each iteration until it reaches number
    current+=1


# print the factorial of number
print(product)

## exercise


You need to write a loop that takes the numbers in a given list named num_list:
`num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]`

- Your code should add up the odd numbers in the list, 
- but only up to the first 5 odd numbers together. 
- If there are more than 5 odd numbers, you should stop at the fifth. 
- If there are fewer than 5 odd numbers, add all of the odd numbers.

In [121]:
num_list = [422, 136, 524, 85, 96, 719, 85, 92, 10, 17, 312, 542, 87, 23, 86, 191, 116, 35, 173, 45, 149, 59, 84, 69, 113, 166]

count_odd = 0
list_sum = 0
i = 0
len_num_list = len(num_list)

while (count_odd < 5) and (i < len_num_list): 
    if num_list[i] % 2 != 0:
        list_sum += num_list[i]
        count_odd += 1
    i += 1

print ("The numbers of odd numbers added are: {}".format(count_odd))
print ("The sum of the odd numbers added is: {}".format(list_sum))

The numbers of odd numbers added are: 5
The sum of the odd numbers added is: 993

## Break and continue

- `break` terminates a loop
- `continue` skips one iteration of a loop

In [124]:
manifest = [("bananas", 15), ("mattresses", 24), ("dog kennels", 42), ("machine", 120), ("cheeses", 5)]

# the code breaks the loop when weight exceeds or reaches the limit
print("METHOD 1")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking loop now!")
        break
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 1
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  adding machine (120)
current weight: 201
  breaking loop now!

Final Weight: 201
Final Items: ['bananas', 'mattresses', 'dog kennels', 'machine']

In [126]:
# skips an iteration when adding an item would exceed the limit
# breaks the loop if weight is exactly the value of the limit
print("\nMETHOD 2")
weight = 0
items = []
for cargo_name, cargo_weight in manifest:
    print("current weight: {}".format(weight))
    if weight >= 100:
        print("  breaking from the loop now!")
        break
    elif weight + cargo_weight > 100:
        print("  skipping {} ({})".format(cargo_name, cargo_weight))
        continue
    else:
        print("  adding {} ({})".format(cargo_name, cargo_weight))
        items.append(cargo_name)
        weight += cargo_weight

print("\nFinal Weight: {}".format(weight))
print("Final Items: {}".format(items))

METHOD 2
current weight: 0
  adding bananas (15)
current weight: 15
  adding mattresses (24)
current weight: 39
  adding dog kennels (42)
current weight: 81
  skipping machine (120)
current weight: 81
  adding cheeses (5)

Final Weight: 86
Final Items: ['bananas', 'mattresses', 'dog kennels', 'cheeses']